{{- /* Giscus comments via GitHub Discussions */ -}}
<script src="https://giscus.app/client.js"
        data-repo="opobull/withintrend"
        data-repo-id="R_kgDORheoxg"
        data-category="Comments"
        data-category-id="DIC_kwDORheoxs4C79zj"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="ko"
        crossorigin="anonymous"
        async>
</script>
